# Blender backups
*.blend1
*.blend2
*.blend3

# Blender temporary files
*.tmp

# Python cache
__pycache__/
*.pyc

# OS files
Thumbs.db
.DS_Store

# Blender cache
/cache/
/tmp/
blender/planos/F3_ARQ_03_NIVEL+3.00.dwl
blender/planos/F3_ARQ_03_NIVEL+3.00.dwl2
